# This is the template CODEOWNERS file for UW-Finance-SDA
# Use hashtag in the front of the line to comment
# Written by Euntae Ki

# Global owners of the branch
*				@apache78

# Folder specific owner
/Test/*			@EuntaeKi